.container{
    display: flex;
    justify-content: center;
    width: 85%;
    flex-direction: column;
    /* background-color: #424242; */
}

.error{
    font-family: Roboto;
    text-align: center;
}

@media (max-width: 770px){
    .container{
        width: 100%;
    }
}